* {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

b {
    color: rgb(162, 162, 249);
}

.headerSection {
    padding: 10px 50px;
    background: linear-gradient(to right, rgb(169, 82, 0), rgb(255, 140, 0));
    border-radius: 25px;
}

.headerSection h1 {
    background-color: transparent;
}

.recetaContainer {
    border-color: white;
    border-radius: 25px;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

table, td, th {
    border: 1px solid;
    background-color: aliceblue;
    color: black;
    width: 50%;    
}

.tableDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.imgFlan {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 25px;
}

dt {
    background-color: rgb(0, 53, 99);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

dd {
    background-color: rgb(195, 227, 255);
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-left: 10%;

}