* {
    color: #ffffff;
}

body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

b {
    color: rgb(162, 162, 249);
}

.headerSection {
    padding: 10px 50px;
    background: linear-gradient(to right, rgb(169, 82, 0), rgb(255, 140, 0));
    border-radius: 25px;
}

.headerSection h1 {
    background-color: transparent;
}

.recetaContainer {
    border-color: white;
    border-radius: 25px;
    border: 1px solid;
    width: 50%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

table, td, th {
    border: 1px solid;
    background-color: aliceblue;
    color: black;
    width: 50%;    
}

.tableDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.imgFlan {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 25px;
}

dt {
    background-color: rgb(0, 53, 99);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

dd {
    background-color: rgb(195, 227, 255);
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-left: 10%;

}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgb(133, 223, 227);
    cursor: pointer;
}

/* PAGINA FORM */

.formContainer {
    border: 1px solid;
    border-radius: 25px;
    width: 25%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

/* Espaciado para inputs de texto, email, number */
.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer input[type="number"],
.formContainer select,
.formContainer textarea {
    margin-bottom: 25px;
}

.formContainer textarea {
    width: 100%;
    height: 100px;
    overflow: hidden;
} 

/* Espaciado menor para radio y checkbox */
.formContainer input[type="radio"],
.formContainer input[type="checkbox"] {
    margin-bottom: 8px;
}

.formContainer label {
    margin-bottom: 5px;
}

.formContainer button {
    margin-top: 20px;
}

.btnEnviar {
    padding: 2% 5%;
    background-color: chocolate;
    border-radius: 25px;
    border: none;
}